.signup-form {
    max-width: 400px;
    margin: auto;
    padding: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 40px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-button:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
}

.login-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    
}

.login-button:hover {
    background-color: #218838;
}

.logincss{
    display: flex;
    justify-content: center;
    align-items: center;
}
